
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: #141625;
  color: #ffffff;
  }

a {
  color: inherit;
  text-decoration: none;
}


@font-face {
  font-family: Aquire ;
  src: url(../public/aquire-font/Aquire-BW0ox.otf);
}



/* -------- WELCOME -------- */

.welcome {
  /* max-width: 650px; */
  width: 50%;
  height: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.image{
  width: 50vw;
  height: 50vh;
}

@media screen and (max-width: 768px) {
  .welcome {
    max-width: 550px;
    margin: 3rem auto;
  }
}

@media screen and (max-width: 425px) {
  .welcome {
    justify-content: center;
  }
}



/* -------- HEADER -------- */
.header {
  width: 100%;
  height: 100px;
  text-align: center;
}

.navbar {
  padding: 2rem;
}

.logo {
  font-size: 48px;
  margin: auto;
  font-weight: 600;
  text-shadow: 0px 2px 5px #0d0c1d;
  font-family: Aquire ;
}

.logo:hover {
  letter-spacing: 0.25rem;
  text-shadow: 50px 2px 5px #32cf9b59;
}

@media screen and (max-width: 425px) {
  .header {
    height: 60px;
  }
  .navbar {
    padding: 1rem;
  }

  .logo{
    font-size: 32px;
    padding-top: 16px;
  }
}

/* -------- SEARCH -------- */
.form {
  margin-top: 8px;
  width: 100%;
  bottom: 150px;  
}

.label {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  text-align: center;
  max-width: 500px;
}

.input,
.btn {
  border: none;
  height: 60px;
  font-size: 1.25rem;
  padding: 0 1rem;
}

.input {
  border-radius: 10px 0 0 10px;
  outline: none;
  max-width: 400px;
  border-right: none;
  background: #d1c9ce;
  color: #333;
  font-family: "Aquire";
  font-size: medium;
  letter-spacing: 1px;
}

.input:focus {
  box-shadow: 0px 0px 10px #a69cac;
}

.btn {
  font-weight: 500;
  font-size: 0.9rem;
  vertical-align: top;
  color: #32cf9b;
  background: #1f2c3f;
  border: 1px solid #32cf9b;
  border-radius: 0 10px 10px 0;
  border-left: none;
  font-family: "Aquire";
}

.btn:hover{
  font-weight: 600;
  letter-spacing: 4px;
}

@media screen and (max-width: 425px) {
  .form {
    padding: 2rem 0;
    bottom: 70px;
  }
  .input {
    width: 200px;
    padding: 0 0.5rem;
  }

  .label{
    display: flex;
    justify-content: center;
  }
}


/* -------- LOADER -------- */

.spinner {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 100px auto;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cc5803;
  border-color: #cc5803 transparent #cc5803 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* -------- FOOTER -------- */
.footer {
  font-size: 16px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  font-family: "Aquire";
}

.nextfooter{
  margin-left: 16px;
  font-size: 20px;
}